<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArtGalleryApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Oswald:700|Patua+One|Roboto+Condensed:700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link href="~/css/StyleSheet.scss" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @*<link rel="stylesheet" href="~/ArtGalleryApp.styles.css" asp-append-version="true" />*@
</head>
<body class="admin-body">

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm   navbar-light border-bottom box-shadow  py-1">
        <div class="container-fluid m-4">
            <img src="~/images/logo.png" class="d-block " alt="logo">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ml-3">

                <a class="nav-link text-white" asp-controller="Home" asp-action="index">SARV INDEPENDENT ARTISTS</a>


                <li class="nav-item d-flex">
                    <div class="container DateAndTimeAdmin ">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="date-time" class="text-center"></div>
                            </div>
                        </div>
                    </div>

                    <script>
                        function updateDateTime() {
                            var date = new Date();
                            var dateTime = date.toLocaleString();
                            document.getElementById("date-time").innerHTML = dateTime;
                        }
                        setInterval(updateDateTime, 1000);
                    </script>

                    <a class="nav-link text-white" asp-controller="Profile" asp-action="Index">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                        </svg>
                    </a>
                </li>

            </div>
        </div>
    </nav>

    <div class="d-flex AdminBg  ">
        <nav class="admin-nav offcanvas-body  w-20 sidebar-filter pt-5 pb-5">

            @*           <form class="form-inline my-2 my-lg-0 justify-content-center">
            <div class="input-group ">
            <input class="form-control py-2" type="search" value="search" id="example-search-input">
            <span class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">
            <i class="fa fa-search"></i>
            </button>
            </span>
            </div>
            </form>

            <div class="divider mt-3 mb-3 border-bottom border-white"></div>*@
            @*            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">


            <li class="nav-item ">
            <a class="admin-nav-link " asp-action="Dashboard">
            DASHBOARD
            </a>
            </li>
            </ul>
            <div class="divider mt-3 mb-3  border-bottom  border-secondary"></div>*@
            @if (@ViewBag.Role == "Admin")
            {
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="admin-nav-link dropdown">
                        <a class="admin-nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            BaseInfo 
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item" asp-action="Index" asp-controller="ArtistField">Artist Field</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="ArtworkField">Artwork Field</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="Medium">Medium</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="Style">Style</a>
                            @*<a class="dropdown-item" asp-action="Index" asp-controller="Tag">Tag</a>*@

                        </div>
                    </li>
                </ul>
                <div class="divider mt-3 mb-3 border-bottom border-secondary"></div>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item ">
                        <a class="admin-nav-link " asp-controller="Banners" asp-action="index">Banner</a>
                    </li>
                </ul>
                <div class="divider mt-3 mb-3 border-bottom border-secondary"></div>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item ">
                        <a class="admin-nav-link " asp-controller="About" asp-action="index">About</a>
                    </li>
                </ul>
                <div class="divider mt-3 mb-3 border-bottom border-secondary"></div>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item ">
                        <a class="admin-nav-link " asp-controller="Contact" asp-action="index">Contact</a>
                    </li>
                </ul>
                @*       <div class="divider mt-3 mb-3 border-bottom border-secondary"></div>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item ">
            <a class="admin-nav-link " asp-controller="About" asp-action="index">About</a>
            </li>
            </ul>*@
                <div class="divider mt-3 mb-3 border-bottom border-secondary"></div>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item ">
                        <a class="admin-nav-link " asp-controller="Blog" asp-action="Index">Blog</a>
                    </li>
                </ul>
                <div class="divider mt-3 mb-3 border-bottom border-secondary"></div>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="admin-nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Event
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" asp-controller="Event_" asp-action="index">Event</a>
                            <a class="dropdown-item" asp-controller="SubEvent" asp-action="index">Sub Event</a>
                        </div>
                    </li>
                </ul>
                <div class="divider mt-3 mb-3 border-bottom border-secondary"></div>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item ">
                        <a class="admin-nav-link " asp-controller="Artist" asp-action="index">Artist</a>
                    </li>
                </ul>
                <div class="divider mt-3 mb-3 border-bottom border-secondary"></div>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item ">
                        <a class="admin-nav-link " asp-controller="Customer" asp-action="index">Customer</a>
                    </li>
                </ul>
                <div class="divider mt-3 mb-3 border-bottom border-secondary"></div>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item ">
                    <a class="admin-nav-link " asp-controller="Team" asp-action="index">Team</a>
                </li>
            </ul>
            }
            @if (ViewBag.Role == "Admin" || ViewBag.Role == "Artist")
            {
                <div class="divider mt-3 mb-3 border-bottom border-secondary"></div>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item ">
                        <a class="admin-nav-link " asp-controller="Gallery" asp-action="index">Gallery</a>
                    </li>
                </ul>



                @*     <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

            <li class="nav-item dropdown">
            <a class="admin-nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            PAGES
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" asp-controller="Banners" asp-action="index">Banner</a>
            <a class="dropdown-item" asp-controller="About" asp-action="index">About</a>
            <a class="dropdown-item" asp-controller="Event_" asp-action="index">Event</a>
            <a class="dropdown-item" asp-controller="SubEvent" asp-action="index">Sub Event</a>
            <a class="dropdown-item" asp-controller="Blog" asp-action="index">Blog</a>
            <a class="dropdown-item" asp-controller="Artist" asp-action="index">Artist</a>
            <a class="dropdown-item" asp-controller="Gallery" asp-action="index">Gallery</a>
            <a class="dropdown-item" asp-action="AdminTeam">Team</a>
            </div>
            </li>
            </ul>*@
                <div class="divider mt-3 mb-3 border-bottom border-secondary"></div>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item ">
                    <a class="admin-nav-link " asp-controller="Sold" asp-action="index">Sold History</a>
                </li>
            </ul>
            }
            <div class="divider mt-3 mb-3 border-bottom border-secondary"></div>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item ">
                    <a class="admin-nav-link " asp-controller="Order" asp-action="index">Orders</a>
                </li>
            </ul>

            <div class="divider mt-3 mb-3 border-bottom border-secondary"></div>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item ">
                    <a class="admin-nav-link " asp-controller="Favorites" asp-action="index">Favorites</a>
                </li>
            </ul>
            <div class="divider mt-3 mb-3 border-bottom border-secondary"></div>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item ">
                    <a class="admin-nav-link " asp-controller="Profile" asp-action="index">Profile</a>
                </li>
            </ul>
            <div class="divider mt-3 mb-3 border-bottom border-secondary"></div>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item ">
                    <a class="admin-nav-link " asp-controller="Profile" asp-action="Logout">Log Out</a>
                </li>
            </ul>

            @*            <div class="divider mt-3 mb-3 border-bottom border-secondary"></div>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="admin-nav-link dropdown">
            <a class="admin-nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SOCIAL ENGAGEMENT
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" href="#">Messgage</a>
            <a class="dropdown-item" href="#">Review</a>
            <a class="dropdown-item" href="#">Like</a>
            </div>
            </li>
            </ul>
            <div class="divider mt-3 mb-3 border-bottom border-secondary"></div>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="admin-nav-link dropdown">
            <a class="admin-nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            TO DO
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown3">
            <a class="dropdown-item" href="#">Follow ups</a>
            <a class="dropdown-item" href="#">Appointments</a>
            <a class="dropdown-item" href="#">Meetings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Urgent</a>
            </div>
            </li>
            </ul>
            <div class="divider mt-3 mb-3 border-bottom border-white"></div>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="admin-nav-link dropdown">
            <a class="admin-nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ARCHIVE
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown3">
            <a class="dropdown-item" href="#">Events Reports</a>
            <a class="dropdown-item" href="#">Employees</a>
            <a class="dropdown-item" href="#">Sale Diagram</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Financial Archive</a>
            </div>
            </li>
            </ul>*@
        </nav>
        <main role="main" class=" main w-80 h-100 container d-flex flex-nowrap justify-content-center pt-2 pb-2  ">
            @RenderBody()
        </main>


    </div>
    <footer class="mb-0">
        <div class="container text-center text-lg-start py-2 bg-secondary ">
            &copy; 2022 - ArtGalleryApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
@*    @if (ViewBag.Role == null)
    {
        <script>

            window.location.href = "/";

        </script>
    }
   *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
