
@{
    ViewData["Title"] = "ArtistRegistration";
    Layout = "_Layout";
}
@model ArtGalleryApp.Models.DataViewModel.ArtistRegistrationViewModel

<div class="container w-100 d-flex flex-nowrap justify-content-center pt-5 pb-5  homeSliderBg  ">
    <div class="Carouselcontainer w-75 h-75 bg-white  p-5 d-flex">
        <form asp-action="ArtistRegistration" asp-controller="home" method="post" class="register-form ml-4 form-check">
            <h3>Register</h3>
            <div class="row justify-content-around">

                <div class="col-md-3 ">
                   
                    <div class="form-group">
                <label asp-for="FirstName"></label>
                <input  class="form-control" asp-for="FirstName" placeholder="Enter First Name...">
                <span style="color:darkred" asp-validation-for="FirstName"></span>
            </div>
                    <div class="form-group">
                <label asp-for="LastName"></label>
                <input  class="form-control" asp-for="LastName" placeholder="Enter Last Name...">
                <span style="color:darkred" asp-validation-for="LastName"></span>
            </div>
                    <div class="form-group">
                        <label for="ArtistField-"></label>
                        <input type="text" class="form-control" asp-for="ArtistField_" placeholder="Enter your field...">
                    </div>
                    <div class="form-group">
                        <label for="yearOfBirth">Year of Birth</label>
                        <input type="text" class="form-control" id="yearOfBirth" placeholder="Enter your year of birth...">
                    </div>
                    <div class="form-group">
                        <label for="countryOfOrigin">Country of Origin</label>
                        <input type="text" class="form-control" id="countryOfOrigin" placeholder="Enter your country of origin (optional)...">
                    </div>
                    <div class=" form-group  ">
                        <label asp-for="Description">Short Statement about Yourself</label>
                        <textarea class="form-control w-60" asp-for="Description" rows="3"></textarea>
                        <span style="color:darkred" asp-validation-for="Description"></span>
                    </div>
                </div>
                <div class="col-md-3 position-relative ">
                    <div class="form-group">
                        <label asp-for="ImgUrl">Upload a Photo</label>
                        <input type="file" class="form-control-file" asp-for="ImgUrl">
                        <span style="color:darkred" asp-validation-for="ImgUrl"></span>
                    </div>
                    <img class="w-100 position-relative" src="~/images/blog/pexels-marshall-jones-3652853.jpg" /><br /><br />
                    <div class="form-group">
                        <label asp-for="PortfolioUrl"></label>
                        <input type="text" class="form-control" asp-for="PortfolioUrl">
                        <span style="color:darkred" asp-validation-for="PortfolioUrl"></span>
                    </div>
                </div>
                <div class="col-md-3 ">
                <h3> Create Your Account</h3>
                    <div class="form-group">
                        <label asp-for="Phone"></label>
                        <input class="form-control" asp-for="Phone" placeholder="Enter phone...">
                        <span style="color:darkred" asp-validation-for="Phone"></span>
                    </div>
                    <div class="form-group justify-content-center ">
                    <label asp-for="Email"></label>
                    <input type="email" class="form-control" asp-for="Email" placeholder="Enter email...">
                    <span style="color:darkred" asp-validation-for="Email"></span>
                </div>

                    <div class="form-group ">
                    <label asp-for="Password"></label>
                    <input class="form-control" asp-for="Password" placeholder="Enter password...">
                    <span style="color:darkred" asp-validation-for="Password"></span>
                </div>
                    <div class="form-group  ">
                    <label asp-for="ConfirmPassword"></label>
                    <input class="form-control" asp-for="ConfirmPassword" placeholder="Confirm password">
                    <span style="color:darkred" asp-validation-for="ConfirmPassword"></span>
                </div>
                    <div class="password-strength ">
                    <div class="password-strength-viewport">
                        <div class="password-strength-progress">
                            <label for="password-strength">Password Strength</label>
                            <label for="password-roles">Password must be a minimum of 8 characters. lnclude one latter, and one number or symbol.</label>
                        </div>
                    </div>
                </div>
                    <div class="signup-bottom-container text-center ">
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                    <div class="form-group d-flex have-account">
                        <h6>already have an account?</h6>
                        <a href="#" class="sign-in-link">   Sign In</a>
                    </div>
                    <label for="CreatAccountWith">..............................or create an account with..............................</label>
                        <div class="form-group sign-in-with  ">
                        <a href="#" class="btn btn-danger">Google</a>
                        <a href="#" class="btn btn-primary">Facebook</a>
                        <a href="#" class="btn btn-secondary">Apple</a>
                    </div>
                        <div class="form-group d-flex have-account ">
                        <h6>need help?</h6>
                        <a href="Contact" class="sign-in-link">contact us</a>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-6 form-group  ">
                <label asp-for="Description">Short Statement about Yourself</label>
                <textarea class="form-control w-60" asp-for="Description" rows="3"></textarea>
                <span style="color:darkred" asp-validation-for="Description"></span>
            </div>
         
        </form>
    </div>
</div>


