
@{
    ViewData["Title"] = "Artists";
    Layout = "_LayoutPage";
}


<div class="artistsListcontainer">
    <div class="artistsListItem">
        <ul>
            A
            <li><a href="ArtistPage">AAAAA</a></li>
            <li><a href="ArtistPage">AAAAA</a></li>
            <li><a href="ArtistPage">AAAAA</a></li>
            <li><a href="ArtistPage">AAAAA</a></li>
        </ul>
    </div>

    <div class="artistsListItem">
        <ul>
            H
            <li><a href="ArtistPage">HHHHH</a></li>
            <li><a href="ArtistPage">HHHHH</a></li>
            <li><a href="ArtistPage">HHHHH</a></li>
            <li><a href="ArtistPage">HHHHH</a></li>
        </ul>
    </div>

    <div class="artistsListItem">
        O
        <ul>
            <li><a href="ArtistPage">OOOO</a></li>
            <li><a href="ArtistPage">OOOO</a></li>
            <li><a href="ArtistPage">OOOO</a></li>
            <li><a href="ArtistPage">OOOO</a></li>
        </ul>
    </div>

    <div class="artistsListItem">
        U
        <ul>
            <li><a href="ArtistPage">UUUU</a></li>
            <li><a href="ArtistPage">UUUU</a></li>
            <li><a href="ArtistPage">UUUU</a></li>
            <li><a href="ArtistPage">UUUU</a></li>
        </ul>
    </div>

    <div class="artistsListItem">
        <ul>
            B
            <li><a href="ArtistPage">BBBB</a></li>
            <li><a href="ArtistPage">BBBB</a></li>
            <li><a href="ArtistPage">BBBB</a></li>
            <li><a href="ArtistPage">BBBB</a></li>
        </ul>
    </div>

    <div class="artistsListItem">
        <ul>
            I
            <li><a href="ArtistPage">IIII</a></li>
            <li><a href="ArtistPage">IIII</a></li>
            <li><a href="ArtistPage">IIII</a></li>
            <li><a href="ArtistPage">IIII</a></li>
        </ul>
    </div>
    <div class="artistsListItem">
        <ul>
            P
            <li><a href="ArtistPage">PPPP</a></li>
            <li><a href="ArtistPage">PPPP</a></li>
            <li><a href="ArtistPage">PPPP</a></li>
            <li><a href="ArtistPage">PPPP</a></li>
        </ul>
    </div>
    <div class="artistsListItem">
        <ul>
            V
            <li><a href="ArtistPage">VVVV</a></li>
            <li><a href="ArtistPage">VVVV</a></li>
            <li><a href="ArtistPage">VVVV</a></li>
            <li><a href="ArtistPage">VVVV</a></li>
        </ul>
    </div>
    <div class="artistsListItem">
        <ul>
            C
            <li><a href="ArtistPage">CCCC</a></li>
            <li><a href="ArtistPage">CCCC</a></li>
            <li><a href="ArtistPage">CCCC</a></li>
            <li><a href="ArtistPage">CCCC</a></li>
        </ul>
    </div>
    <div class="artistsListItem">
        <ul>
            J
            <li><a href="ArtistPage">JJJJ</a></li>
            <li><a href="ArtistPage">JJJJ</a></li>
            <li><a href="ArtistPage">JJJJ</a></li>
            <li><a href="ArtistPage">JJJJ</a></li>
        </ul>
    </div>
    <div class="artistsListItem">
        Q
        <ul>
            <li><a href="ArtistPage">QQQQ</a></li>
            <li><a href="ArtistPage">QQQQ</a></li>
            <li><a href="ArtistPage">QQQQ</a></li>
        </ul>
    </div>

    <div class="artistsListItem">
        W
        <ul>
            <li><a href="ArtistPage">WWWW</a></li>
            <li><a href="ArtistPage">WWWW</a></li>
            <li><a href="ArtistPage">WWWW</a></li>
        </ul>
    </div>
    <div class="artistsListItem">
        D
        <ul>
            <li><a href="ArtistPage">DDDD</a></li>
            <li><a href="ArtistPage">DDDD</a></li>
            <li><a href="ArtistPage">DDDD</a></li>
        </ul>
    </div>
    <div class="artistsListItem">
        K
        <ul>
            <li><a href="ArtistPage">KKKK</a></li>
            <li><a href="ArtistPage">KKKK</a></li>
            <li><a href="ArtistPage">KKKK</a></li>
        </ul>
    </div>

    <div class="artistsListItem">
        R
        <ul>
            <li><a href="ArtistPage">RRRR</a></li>
            <li><a href="ArtistPage">RRRR</a></li>
            <li><a href="ArtistPage">RRRR</a></li>
        </ul>
    </div>
    <div class="artistsListItem">
        <ul>
            X
            <li><a href="ArtistPage">XXXX</a></li>
            <li><a href="ArtistPage">XXXX</a></li>
            <li><a href="ArtistPage">XXXX</a></li>
            <li><a href="ArtistPage">XXXX</a></li>
        </ul>
    </div>
    <div class="artistsListItem">
        <ul>
            E
            <li><a href="ArtistPage">EEEE</a></li>
            <li><a href="ArtistPage">EEEE</a></li>
            <li><a href="ArtistPage">EEEE</a></li>
            <li><a href="ArtistPage">EEEE</a></li>
        </ul>
    </div>

    <div class="artistsListItem">
        <ul>
            L
            <li><a href="ArtistPageL">LLLL</a></li>
            <li><a href="ArtistPage">LLLL</a></li>
            <li><a href="ArtistPage">LLLL</a></li>
            <li><a href="ArtistPage">LLLL</a></li>
        </ul>
    </div>
    <div class="artistsListItem">
        S
        <ul>
            <li><a href="ArtistPage">SSSS</a></li>
            <li><a href="ArtistPage">SSSS</a></li>
            <li><a href="ArtistPage">SSSS</a></li>
        </ul>
    </div>

    <div class="artistsListItem">
        <ul>
            Y
            <li><a href="ArtistPage">YYYY</a></li>
            <li><a href="ArtistPage">YYYY</a></li>
            <li><a href="ArtistPage">YYYY</a></li>
            <li><a href="ArtistPage">YYYY</a></li>
        </ul>
    </div>


    <div class="artistsListItem">
        <ul>
            F
            <li><a href="ArtistPage">FFFF</a></li>
            <li><a href="ArtistPage">FFFF</a></li>
            <li><a href="ArtistPage">FFFF</a></li>
            <li><a href="ArtistPage">FFFF</a></li>
        </ul>
    </div>

    <div class="artistsListItem">
        <ul>
            M
            <li><a href="ArtistPage">MMMM</a></li>
            <li><a href="ArtistPage">MMMM</a></li>
            <li><a href="ArtistPage">MMMM</a></li>
            <li><a href="ArtistPage">MMMM</a></li>
        </ul>
    </div>
    <div class="artistsListItem">
        <ul>
            T
            <li><a href="ArtistPage">TTTT</a></li>
            <li><a href="ArtistPage">TTTT</a></li>
            <li><a href="ArtistPage">TTTT</a></li>
            <li><a href="ArtistPage">TTTT</a></li>
        </ul>
    </div>
    <div class="artistsListItem">
        <ul>
            Z
            <li><a href="ArtistPage">ZZZZ</a></li>
            <li><a href="ArtistPage">ZZZZ</a></li>
            <li><a href="ArtistPage">ZZZZ</a></li>
            <li><a href="ArtistPage">ZZZZ</a></li>
        </ul>
    </div>


    <div class="artistsListItem">
        <ul>
            G
            <li><a href="ArtistPage">GGGG</a></li>
            <li><a href="ArtistPage">GGGG</a></li>
            <li><a href="ArtistPage">GGGG</a></li>
            <li><a href="GGGG">GGGG</a></li>
        </ul>
    </div>

    <div class="artistsListItem">
        <ul>
            N
            <li><a href="ArtistPage">NNNN</a></li>
            <li><a href="ArtistPage">NNNN</a></li>
            <li><a href="ArtistPage">NNNN</a></li>
            <li><a href="ArtistPage">NNNN</a></li>
        </ul>
    </div>
</div>














