@{
    ViewData["Title"] = "Gallery";
    Layout = "_Layout";
}
@model ArtGalleryApp.Models.DataViewModel.GalleryViewModel

@section HeaderStyle{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-slider.css" />


}

<div class="container p-0 ">
    <div class="container p-0 ">
        <div class="row p-0 m-0">
            <div class="col-md-9  p-5 order-md-2 col-lg-10">
                <div class="container-fluid">
                    <div class="row   mb-5">
                        <div class="col-12">
                            <div class="dropdown text-md-left text-center float-md-left mb-3 mt-3 mt-md-0 mb-md-0">
                                <label class="mr-2">Sort by:</label>
                                <a class="btn btn-lg btn-light dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relevance <span class="caret"></span></a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" x-placement="bottom-start" style="position: absolute; transform: translate3d(71px, 48px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    <a class="dropdown-item" href="#">Relevance</a>
                                    <a class="dropdown-item" href="#">Price Descending</a>
                                    <a class="dropdown-item" href="#">Price Ascending</a>
                                    <a class="dropdown-item" href="#">Best Selling</a>
                                </div>
                            </div>
                            <div class="btn-group float-md-right ml-3">
                                <button type="button" class="btn btn-lg btn-light"> <span class="fa fa-arrow-left"></span> </button>
                                <button type="button" class="btn btn-lg btn-light"> <span class="fa fa-arrow-right"></span> </button>
                            </div>
                            <div class="dropdown float-right">
                                <label class="mr-2">View:</label>
                                <a class="btn btn-lg btn-light dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">15<span class="caret"></span></a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" x-placement="bottom-end" style="will-change: transform; position: absolute; transform: translate3d(120px, 48px, 0px); top: 0px; left: 0px;">
                                    <a class="dropdown-item" href="#">12</a>
                                    <a class="dropdown-item" href="#">24</a>
                                    <a class="dropdown-item" href="#">48</a>
                                    <a class="dropdown-item" href="#">96</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">


                        <div class="col-6 col-md-6 col-lg-4 mb-5">
                            <div class="card h-100 border-0">
                                <a href="ArtworkPage" class="mr-0  no-underline">
                                    <div class="card-img-top position-relative">
                                        <img src="~/images/dannie-jing-3GZlhROZIQg-unsplash.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">

                                    </div>
                                    <div class="gallery-Artwork-details p-3 pb-5">
                                        <div class="card-title position-absolute bottom-1 start-0 ml-4">
                                            <a href="ArtworkPage" class="font-weight-bold text-dark text-uppercase small">Product name</a>
                                            <h5 class="card-price small text-warning">
                                                <i>
                                                    <s>$999999</s> $8888
                                                </i>
                                            </h5>
                                        </div>
                                        <div onclick="this.style.color='red';" class="card-heart position-absolute bottom-1 end-0 mr-4" id="heart">

                                            <i class="fa fa-heart"></i>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 mb-5">
                            <div class="card h-100 border-0">
                                <a href="ArtworkPage" class="mr-0  no-underline">
                                    <div class="card-img-top position-relative">
                                        <img src="~/images/dannie-jing-3GZlhROZIQg-unsplash.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">

                                    </div>
                                    <div class="gallery-Artwork-details p-3 pb-5">
                                        <div class="card-title position-absolute bottom-1 start-0 ml-4">
                                            <a href="ArtworkPage" class="font-weight-bold text-dark text-uppercase small">Product name</a>
                                            <h5 class="card-price small text-warning">
                                                <i>
                                                    <s>$999999</s> $8888
                                                </i>
                                            </h5>
                                        </div>
                                        <div onclick="this.style.color='red';" class="card-heart position-absolute bottom-1 end-0 mr-4" id="heart">

                                            <i class="fa fa-heart"></i>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 mb-5">
                            <div class="card h-100 border-0">
                                <a href="ArtworkPage" class="mr-0  no-underline">
                                    <div class="card-img-top position-relative">
                                        <img src="~/images/dannie-jing-3GZlhROZIQg-unsplash.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">

                                    </div>
                                    <div class="gallery-Artwork-details p-3 pb-5">
                                        <div class="card-title position-absolute bottom-1 start-0 ml-4">
                                            <a href="ArtworkPage" class="font-weight-bold text-dark text-uppercase small">Product name</a>
                                            <h5 class="card-price small text-warning">
                                                <i>
                                                    <s>$999999</s> $8888
                                                </i>
                                            </h5>
                                        </div>
                                        <div onclick="this.style.color='red';" class="card-heart position-absolute bottom-1 end-0 mr-4" id="heart">

                                            <i class="fa fa-heart"></i>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 mb-5">
                            <div class="card h-100 border-0">
                                <a href="ArtworkPage" class="mr-0  no-underline">
                                    <div class="card-img-top position-relative">
                                        <img src="~/images/dannie-jing-3GZlhROZIQg-unsplash.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">

                                    </div>
                                    <div class="gallery-Artwork-details p-3 pb-5">
                                        <div class="card-title position-absolute bottom-1 start-0 ml-4">
                                            <a href="ArtworkPage" class="font-weight-bold text-dark text-uppercase small">Product name</a>
                                            <h5 class="card-price small text-warning">
                                                <i>
                                                    <s>$999999</s> $8888
                                                </i>
                                            </h5>
                                        </div>
                                        <div onclick="this.style.color='red';" class="card-heart position-absolute bottom-1 end-0 mr-4" id="heart">

                                            <i class="fa fa-heart"></i>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 mb-5">
                            <div class="card h-100 border-0">
                                <a href="ArtworkPage" class="mr-0  no-underline">
                                    <div class="card-img-top position-relative">
                                        <img src="~/images/dannie-jing-3GZlhROZIQg-unsplash.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">

                                    </div>
                                    <div class="gallery-Artwork-details p-3 pb-5">
                                        <div class="card-title position-absolute bottom-1 start-0 ml-4">
                                            <a href="ArtworkPage" class="font-weight-bold text-dark text-uppercase small">Product name</a>
                                            <h5 class="card-price small text-warning">
                                                <i>
                                                    <s>$999999</s> $8888
                                                </i>
                                            </h5>
                                        </div>
                                        <div onclick="this.style.color='red';" class="card-heart position-absolute bottom-1 end-0 mr-4" id="heart">

                                            <i class="fa fa-heart"></i>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 mb-5">
                            <div class="card h-100 border-0">
                                <a href="ArtworkPage" class="mr-0  no-underline">
                                    <div class="card-img-top position-relative">
                                        <img src="~/images/dannie-jing-3GZlhROZIQg-unsplash.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">

                                    </div>
                                    <div class="gallery-Artwork-details p-3 pb-5">
                                        <div class="card-title position-absolute bottom-1 start-0 ml-4">
                                            <a href="ArtworkPage" class="font-weight-bold text-dark text-uppercase small">Product name</a>
                                            <h5 class="card-price small text-warning">
                                                <i>
                                                    <s>$999999</s> $8888
                                                </i>
                                            </h5>
                                        </div>
                                        <div onclick="this.style.color='red';" class="card-heart position-absolute bottom-1 end-0 mr-4" id="heart">

                                            <i class="fa fa-heart"></i>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 mb-5">
                            <div class="card h-100 border-0">
                                <a href="ArtworkPage" class="mr-0  no-underline">
                                    <div class="card-img-top position-relative">
                                        <img src="~/images/dannie-jing-3GZlhROZIQg-unsplash.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">

                                    </div>
                                    <div class="gallery-Artwork-details p-3 pb-5">
                                        <div class="card-title position-absolute bottom-1 start-0 ml-4">
                                            <a href="ArtworkPage" class="font-weight-bold text-dark text-uppercase small">Product name</a>
                                            <h5 class="card-price small text-warning">
                                                <i>
                                                    <s>$999999</s> $8888
                                                </i>
                                            </h5>
                                        </div>
                                        <div onclick="this.style.color='red';" class="card-heart position-absolute bottom-1 end-0 mr-4" id="heart">

                                            <i class="fa fa-heart"></i>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 mb-5">
                            <div class="card h-100 border-0">
                                <a href="ArtworkPage" class="mr-0  no-underline">
                                    <div class="card-img-top position-relative">
                                        <img src="~/images/dannie-jing-3GZlhROZIQg-unsplash.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">

                                    </div>
                                    <div class="gallery-Artwork-details p-3 pb-5">
                                        <div class="card-title position-absolute bottom-1 start-0 ml-4">
                                            <a href="ArtworkPage" class="font-weight-bold text-dark text-uppercase small">Product name</a>
                                            <h5 class="card-price small text-warning">
                                                <i>
                                                    <s>$999999</s> $8888
                                                </i>
                                            </h5>
                                        </div>
                                        <div onclick="this.style.color='red';" class="card-heart position-absolute bottom-1 end-0 mr-4" id="heart">

                                            <i class="fa fa-heart"></i>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 mb-5">
                            <div class="card h-100 border-0">
                                <a href="ArtworkPage" class="mr-0  no-underline">
                                    <div class="card-img-top position-relative">
                                        <img src="~/images/dannie-jing-3GZlhROZIQg-unsplash.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">

                                    </div>
                                    <div class="gallery-Artwork-details p-3 pb-5">
                                        <div class="card-title position-absolute bottom-1 start-0 ml-4">
                                            <a href="ArtworkPage" class="font-weight-bold text-dark text-uppercase small">Product name</a>
                                            <h5 class="card-price small text-warning">
                                                <i>
                                                    <s>$999999</s> $8888
                                                </i>
                                            </h5>
                                        </div>
                                        <div onclick="this.style.color='red';" class="card-heart position-absolute bottom-1 end-0 mr-4" id="heart">

                                            <i class="fa fa-heart"></i>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 mb-5">
                            <div class="card h-100 border-0">
                                <a href="ArtworkPage" class="mr-0  no-underline">
                                    <div class="card-img-top position-relative">
                                        <img src="~/images/dannie-jing-3GZlhROZIQg-unsplash.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">

                                    </div>
                                    <div class="gallery-Artwork-details p-3 pb-5">
                                        <div class="card-title position-absolute bottom-1 start-0 ml-4">
                                            <a href="ArtworkPage" class="font-weight-bold text-dark text-uppercase small">Product name</a>
                                            <h5 class="card-price small text-warning">
                                                <i>
                                                    <s>$999999</s> $8888
                                                </i>
                                            </h5>
                                        </div>
                                        <div onclick="this.style.color='red';" class="card-heart position-absolute bottom-1 end-0 mr-4" id="heart">

                                            <i class="fa fa-heart"></i>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 mb-5">
                            <div class="card h-100 border-0">
                                <a href="ArtworkPage" class="mr-0  no-underline">
                                    <div class="card-img-top position-relative">
                                        <img src="~/images/dannie-jing-3GZlhROZIQg-unsplash.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">

                                    </div>
                                    <div class="gallery-Artwork-details p-3 pb-5">
                                        <div class="card-title position-absolute bottom-1 start-0 ml-4">
                                            <a href="ArtworkPage" class="font-weight-bold text-dark text-uppercase small">Product name</a>
                                            <h5 class="card-price small text-warning">
                                                <i>
                                                    <s>$999999</s> $8888
                                                </i>
                                            </h5>
                                        </div>
                                        <div onclick="this.style.color='red';" class="card-heart position-absolute bottom-1 end-0 mr-4" id="heart">

                                            <i class="fa fa-heart"></i>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 mb-5">
                            <div class="card h-100 border-0">
                                <a href="ArtworkPage" class="mr-0  no-underline">
                                    <div class="card-img-top position-relative">
                                        <img src="~/images/dannie-jing-3GZlhROZIQg-unsplash.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">

                                    </div>
                                    <div class="gallery-Artwork-details p-3 pb-5">
                                        <div class="card-title position-absolute bottom-1 start-0 ml-4">
                                            <a href="ArtworkPage" class="font-weight-bold text-dark text-uppercase small">Product name</a>
                                            <h5 class="card-price small text-warning">
                                                <i>
                                                    <s>$999999</s> $8888
                                                </i>
                                            </h5>
                                        </div>
                                        <div onclick="this.style.color='red';" class="card-heart position-absolute bottom-1 end-0 mr-4" id="heart">

                                            <i class="fa fa-heart"></i>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 mb-5">
                            <div class="card h-100 border-0">
                                <a href="ArtworkPage" class="mr-0  no-underline">
                                    <div class="card-img-top position-relative">
                                        <img src="~/images/dannie-jing-3GZlhROZIQg-unsplash.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">

                                    </div>
                                    <div class="gallery-Artwork-details p-3 pb-5">
                                        <div class="card-title position-absolute bottom-1 start-0 ml-4">
                                            <a href="ArtworkPage" class="font-weight-bold text-dark text-uppercase small">Product name</a>
                                            <h5 class="card-price small text-warning">
                                                <i>
                                                    <s>$999999</s> $8888
                                                </i>
                                            </h5>
                                        </div>
                                        <div onclick="this.style.color='red';" class="card-heart position-absolute bottom-1 end-0 mr-4" id="heart">

                                            <i class="fa fa-heart"></i>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 mb-5">
                            <div class="card h-100 border-0">
                                <a href="ArtworkPage" class="mr-0  no-underline">
                                    <div class="card-img-top position-relative">
                                        <img src="~/images/dannie-jing-3GZlhROZIQg-unsplash.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">

                                    </div>
                                    <div class="gallery-Artwork-details p-3 pb-5">
                                        <div class="card-title position-absolute bottom-1 start-0 ml-4">
                                            <a href="ArtworkPage" class="font-weight-bold text-dark text-uppercase small">Product name</a>
                                            <h5 class="card-price small text-warning">
                                                <i>
                                                    <s>$999999</s> $8888
                                                </i>
                                            </h5>
                                        </div>
                                        <div onclick="this.style.color='red';" class="card-heart position-absolute bottom-1 end-0 mr-4" id="heart">

                                            <i class="fa fa-heart"></i>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 mb-5">
                            <div class="card h-100 border-0">
                                <a href="ArtworkPage" class="mr-0  no-underline">
                                    <div class="card-img-top position-relative">
                                        <img src="~/images/dannie-jing-3GZlhROZIQg-unsplash.jpg" class="img-fluid mx-auto d-block" alt="Card image cap">

                                    </div>
                                    <div class="gallery-Artwork-details p-3 pb-5">
                                        <div class="card-title position-absolute bottom-1 start-0 ml-4">
                                            <a href="ArtworkPage" class="font-weight-bold text-dark text-uppercase small">Product name</a>
                                            <h5 class="card-price small text-warning">
                                                <i>
                                                    <s>$999999</s> $8888
                                                </i>
                                            </h5>
                                        </div>
                                        <div onclick="this.style.color='red';" class="card-heart position-absolute bottom-1 end-0 mr-4" id="heart">

                                            <i class="fa fa-heart"></i>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row sorting mb-5 mt-5">
                        <div class="col-12">
                            <a class="btn btn-light">
                                <i class="fas fa-arrow-up mr-2"></i> Back to top
                            </a>
                            <div class="btn-group float-md-right ml-3">
                                <button type="button" class="btn btn-lg btn-light"> <span class="fa fa-arrow-left"></span> </button>
                                <button type="button" class="btn btn-lg btn-light"> <span class="fa fa-arrow-right"></span> </button>
                            </div>
                            <div class="dropdown float-md-right">
                                <label class="mr-2">View:</label>
                                <a class="btn btn-light btn-lg dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">15 <span class="caret"></span></a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">12</a>
                                    <a class="dropdown-item" href="#">24</a>
                                    <a class="dropdown-item" href="#">48</a>
                                    <a class="dropdown-item" href="#">96</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <nav class="admin-nav  offcanvas-body col-md-3 order-md-1 col-lg-2 sidebar-filter pt-5 pb-5">

                <form class="form-inline my-2 my-lg-0 justify-content-center">
                    <label class="sr-only" for="inlineFormInputGroup">Search</label>
                    <div class="input-group mb-2">

                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
                        <div class="input-group-prepend">
                            <div class="input-group-text"> <i class="fa fa-search"></i>  </div>
                        </div>
                    </div>

                </form>



                <div class="divider mt-5 mb-4 border-bottom border-secondary"></div>
                <label for="cboLstField" style="color:#2c2c2c">FIELD</label>
                <select id="cboLstField" class="form-control js-selec2-field">
                    <option class="dropdown-item" asp-controller="About" asp-action="index">All Fields</option>
                    <option class="dropdown-item" asp-controller="About" asp-action="index">Painting</option>
                    <option class="dropdown-item" asp-controller="Artist" asp-action="index">Photography</option>
                    <option class="dropdown-item" asp-controller="Banners" asp-action="index">Sculpture</option>
                    <option class="dropdown-item" asp-controller="Blog" asp-action="index">Fashion desige</option>
                    <option class="dropdown-item" asp-controller="Event_" asp-action="index">Architecture</option>
                    <option class="dropdown-item" asp-controller="Gallery" asp-action="index"> Crafts</option>
                    <option class="dropdown-item" asp-controller="Gallery" asp-action="index">Film</option>

                </select>
                <div class="divider mt-5 mb-4 border-bottom border-secondary"></div>
                <label for="cboLstStyle" style="color:#2c2c2c">STYLE</label>
                <select id="cboLstStyle" class="form-control js-selec2-style">
                    <option class="dropdown-item" asp-controller="About" asp-action="index">All Styles</option>
                    <option class="dropdown-item">Abstract Expressionism</option>
                    <option class="dropdown-item">Art Deco</option>
                    <option class="dropdown-item">Art Nouveau</option>
                    <option class="dropdown-item">Avant-garde</option>
                    <option class="dropdown-item">Baroque</option>
                    <option class="dropdown-item">Bauhaus</option>
                    <option class="dropdown-item">Classicism</option>
                    <option class="dropdown-item">CoBrA</option>
                    <option class="dropdown-item">Color Field Painting</option>
                    <option class="dropdown-item">Conceptual Art</option>
                    <option class="dropdown-item">Constructivism</option>
                    <option class="dropdown-item">Cubism</option>
                    <option class="dropdown-item">Dada / Dadaism</option>
                    <option class="dropdown-item">Digital Art</option>
                    <option class="dropdown-item">Expressionism</option>
                    <option class="dropdown-item">Fauvism</option>
                    <option class="dropdown-item">Futurism</option>
                    <option class="dropdown-item">Harlem Renaissance</option>
                    <option class="dropdown-item">Impressionism</option>
                    <option class="dropdown-item">Installation Art</option>
                    <option class="dropdown-item">Land Art</option>
                    <option class="dropdown-item">Minimalism</option>
                    <option class="dropdown-item">Neo-Impressionism</option>
                    <option class="dropdown-item">Neoclassicism</option>
                    <option class="dropdown-item">Neon Art</option>
                    <option class="dropdown-item">Op Art</option>
                    <option class="dropdown-item">Performance Art</option>
                    <option class="dropdown-item">Pop Art</option>
                    <option class="dropdown-item">Post-Impressionism</option>
                    <option class="dropdown-item">Realism</option>
                    <option class="dropdown-item">Renaissance</option>
                    <option class="dropdown-item">Rococo</option>
                    <option class="dropdown-item">Street Art</option>
                    <option class="dropdown-item">Surrealism</option>
                    <option class="dropdown-item">Symbolism</option>
                </select>

                <div class="divider mt-5 mb-4 border-bottom border-secondary"></div>
                <label for="cboLstMedium" style="color:#2c2c2c">MEDIUM</label>
                <select id="cboLstMedium" class="form-control js-selec2-medium">
                    <option class="dropdown-item" asp-controller="About" asp-action="index">All Mediums</option>
                    <option class="dropdown-item">Abstract Expressionism</option>
                    <option class="dropdown-item">Art Deco</option>
                    <option class="dropdown-item">Art Nouveau</option>

                </select>
                <div class="divider mt-5 mb-4 border-bottom border-secondary"></div>

                <label class="cboLstMedium" style="color:#2c2c2c">SIZE</label>
                <div class="price-filter-control">
                    <input type="number" class="form-control w-50 pull-left mb-2" value="50" id="price-min-control">
                    <input type="number" class="form-control w-50 pull-right" value="150" id="price-max-control">
                </div>
                <div class="divider mt-5 mb-4 border-bottom border-secondary"></div>

                <label class="cboLstMedium" style="color:#2c2c2c">PRICE</label>
                <div id="slider-outer-div">
                    <div id="slider-max-label" class="slider-label"></div>
                    <div id="slider-min-label" class="slider-label"></div>
                    <div id="slider-div">
                        <div>50 $</div>
                        <div>
                            <input id="ex2" type="text" data-slider-min="1"
                                   data-slider-max="10000" data-slider-value="[50,300]"
                                   data-slider-tooltip="hide" />
                        </div>
                        <div>2000 $</div>
                    </div>
                </div>
                <div class="price-filter-control">
                    <input type="number" class="form-control w-50 pull-left mb-2" value="50" id="price-min-control">
                    <input type="number" class="form-control w-50 pull-right" value="150" id="price-max-control">
                </div>

                <div class="divider mt-5 mb-4 border-bottom border-secondary"></div>
                <button type="button" class="btn btn-block btn-outline-success">Apply Filters</button>
                <button type="button" class="btn btn-block btn-outline-secondary">Reset Filters</button>

            </nav>


        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js" integrity="sha512-f0VlzJbcEB6KiW8ZVtL+5HWPDyW1+nJEjguZ5IVnSQkvZbwBt2RfCBY0CBO1PsMAqxxrG4Di6TfsCPP3ZRwKpA==" crossorigin="anonymous"></script>
    <script>
        $('.js-selec2-field').select2();
        $('.js-selec2-style').select2();
        $('.js-selec2-medium').select2();
        const setLabel = (lbl, val) => {
            const label = $(`#slider-${lbl}-label`);
            label.text(val);
            const slider = $(`#slider-div .${lbl}-slider-handle`);
            const rect = slider[0].getBoundingClientRect();
            label.offset({
                top: rect.top - 30,
                left: rect.left
            });
        }

        const setLabels = (values) => {
            setLabel("min", values[0]);
            setLabel("max", values[1]);
        }


        $('#ex2').slider().on('slide', function (ev) {
            setLabels(ev.value);
        });
        setLabels($('#ex2').attr("data-value").split(","));


        

        //    const heartBtn = document.getElementById('heart-btn');
        //    heartBtn.addEventListener('click', function () {
        //        const heartIcon = this.querySelector('svg');
        //        heartIcon.classList.toggle('text-danger');
        //    });
        //});
   
        //(function () {
        //    const heart = document.getElementById('heart');
        //    heart.addEventListener('click', function () {
        //        heart.classList.toggle('heart.red');
        //    });
        //})();
    </script>
}

