
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}


<div class="container w-100 d-flex flex-nowrap justify-content-center pt-5 pb-5  homeSliderBg  ">
    <div class="Carouselcontainer w-75 h-75 bg-white p-4" >
    <div class="text-center">

            <div id="carouselExampleDark" class="carousel carousel-dark d-flex flex-nowrap justify-content-center slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>

            <div class="carousel-inner w-80 h-80 mt-3 mb-3">

                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="~/images/roberto-contreras-KyFajImq1-A-unsplash.jpg" class="w-75" alt="gallery_1">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 style="color:red">EVENT_1</h1>
                        <h3>Feb 19 - Feb 23 2023 </h3>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                    <img src="~/images/dannie-jing-3gzlhroziqg-unsplash.jpg" class="w-75" alt="gallery_2">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 style="color:aqua">EVENT_2</h1>
                        <h3>May 12 - JON 20 2023 </h3>
                        <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
                    <div class="carousel-item" data-bs-interval="10000">
                    <img src="~/images/dannie-jing-3gzlhroziqg-unsplash.jpg" class="w-75" alt="gallery_3">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 style="color:yellowgreen">EVENT_3</h1>
                        <h3>SEP 12 - SEP 20 2023 </h3>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>

</div>
</div>



<div class="container-fluid bg-secondary  recentArtWorksDiv">
    <section class="pt-5 pb-5">
        <div class="container w-80 h-80 bg-white">
            <div class="row">
                <div class="col-6">
                    <h3 class="mb-3">Recent Artworks </h3>
                </div>
                <div class="col-6 text-right">
                    <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
                <div class="col-12">
                    <div id="carouselExampleIndicators2" class="carousel slide" >

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                            <div class="card-body">
                                                <h4 class="card-title">Special title treatment</h4>
                                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                                            <div class="card-body">
                                                <h4 class="card-title">Special title treatment</h4>
                                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                            <div class="card-body">
                                                <h4 class="card-title">Special title treatment</h4>
                                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3f317c1f7a16116dec454fbc267dd8e4">
                                            <div class="card-body">
                                                <h4 class="card-title">Special title treatment</h4>
                                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532715088550-62f09305f765?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ebadb044b374504ef8e81bdec4d0e840">
                                            <div class="card-body">
                                                <h4 class="card-title">Special title treatment</h4>
                                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=0754ab085804ae8a3b562548e6b4aa2e">
                                            <div class="card-body">
                                                <h4 class="card-title">Special title treatment</h4>
                                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ee8417f0ea2a50d53a12665820b54e23">
                                            <div class="card-body">
                                                <h4 class="card-title">Special title treatment</h4>
                                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532777946373-b6783242f211?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=8ac55cf3a68785643998730839663129">
                                            <div class="card-body">
                                                <h4 class="card-title">Special title treatment</h4>
                                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532763303805-529d595877c5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=5ee4fd5d19b40f93eadb21871757eda6">
                                            <div class="card-body">
                                                <h4 class="card-title">Special title treatment</h4>
                                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div id="ABOUT" class="container-fluid bg-black  ">
    <section class="pt-5">
        <h2 class="aboutTitle">About Us</h2>
        <div class="container w-80 h-100 bg-white mt-3">
            <div class="row g-0 p-2 justify-content-center">
                <div class="col-md-5 mt-5">
                        <img src="~/images/artistsImages/pexels-trinity-kubassek-445109.jpg" class="img-fluid rounded-start mt-3 mb-3" alt="...">
                    </div>
                    <div class="col-md-6">
                    <div class="card-body  ">
                            <h5 class="card-title mt-3">Card title</h5>
                             <div class="card-body  bg-black opacity-25 mt-3 mb-5">
                            <p class="card-text">This is a wider card This is a wider caThis is a wider caThis is a wider caThis is a wider caThis is a wider card with supporting text below as a natural lead-in to additional contentrd with supporting text below as a natural lead-in to additional contentrd with supporting text below as a natural lead-in to additional contentrd with supporting text below as a natural lead-in to additional contentrd with supporting text below as a natural lead-in to additional contentwith supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    </div>
                </div>
            @*<div class="card mb-3" style="max-width: 540px;">
                 
                
            </div>*@
        </div>
    </section>

    <section  class="pb-5">
        <div id="ourTeam" class="container w-80 h-80 p-5" style="background-color:cadetblue ">
            <h1  style="color:white">Our Team</h1>
            <div class="container">
                <div class="row pt-3 justify-content-between flip-card">
                    <div class="col-lg-4 col-md-1 mb-2">
                        <div class="card p-3 flip-card-inner" id="mycard1">
                            <div class=" flip-card-front">
                            <img src="~/images/artistsImages/jonathan-borba-lsGZlrdvd_c-unsplash.jpg" class="card-img-top filter-gray" alt="...">
                            </div>
                            <div class="card-body flip-card-back">
                                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-1 mb-2">
                        <div class="card p-3 flip-card-inner" id="mycard2">
                            <div class=" flip-card-front">
                            <img src="~/images/artistsImages/olga-guryanova-Th-i7Z1ufK8-unsplash.jpg" class="card-img-top filter-gray" alt="...">
                            </div>
                            <div class="card-body flip-card-back">
                                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-1 mb-2">
                        <div class="card p-3 flip-card-inner" id="mycard3">
                            <div class=" flip-card-front">
                            <img src="~/images/artistsImages/jonathan-borba-lsGZlrdvd_c-unsplash.jpg" class="card-img-top filter-gray" alt="...">
                            </div>
                            <div class="card-body flip-card-back">
                                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </section>
    </div>






<div id="sponsers" class="container-fluid " style=" background-color:slategray">
        <section class="pt-5 pb-5">
        <h1>Sponsors</h1>
        </section>
   </div>

<script>
    const card1 = document.getElementById("mycard1");
    card1.addEventListener("click", flipCard1);
    const card2 = document.getElementById("mycard2");
    card2.addEventListener("click", flipCard2);
    const card3 = document.getElementById("mycard3");
    card3.addEventListener("click", flipCard3);

    function flipCard1() {
        card1.classList.toggle("flipCard");
    }
    function flipCard2() {
        card2.classList.toggle("flipCard");
    }
    function flipCard3() {
        card3.classList.toggle("flipCard");
    }
    </script>

@*<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>*@






