@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}


<div class="container w-100 d-flex flex-nowrap justify-content-center pt-5 pb-5  homeSliderBg  ">
    <div class="Carouselcontainer w-75 h-75 bg-white  p-4">
        <div class="text-center">

            <div id="carouselExampleDark" class="carousel carousel-dark  d-flex flex-nowrap justify-content-center slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner w-80 h-80 mt-3 mb-3">

                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="~/images/roberto-contreras-KyFajImq1-A-unsplash.jpg" class="w-75" alt="gallery_1">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 style="color:red">EVENT_1</h1>
                            <h3>Feb 19 - Feb 23 2023 </h3>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="10000">
                        <img src="~/images/dannie-jing-3gzlhroziqg-unsplash.jpg" class="w-75" alt="gallery_2">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 style="color:aqua">EVENT_2</h1>
                            <h3>May 12 - JON 20 2023 </h3>
                            <p>Some representative placeholder content for the second slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="10000">
                        <img src="~/images/dannie-jing-3gzlhroziqg-unsplash.jpg" class="w-75" alt="gallery_3">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 style="color:yellowgreen">EVENT_3</h1>
                            <h3>SEP 12 - SEP 20 2023 </h3>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>

    </div>
</div>

<div id="ABOUT" class="container-fluid bg-black  ">
    <header class="  w-100 text-start py-2 ">
        <div class="container">
            <h1 class="fw-light text-white">About Us</h1>
        </div>
    </header>
    <hr style="color:darkgray" />
    <section class="pt-5 pb-5">
      <div class="container w-80 h-100 bg-black mt-3">
            <div class="row g-0 p-2 justify-content-center">
                <div class="col-md-5 mt-5">
                    <img src="~/images/artistsImages/pexels-trinity-kubassek-445109.jpg" class="img-fluid rounded-start mt-3 mb-3" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body  ">
                        <h5 class="card-title mt-3">Card title</h5>
                        <div class="card-body  bg-white opacity-25 mt-3 mb-5">
                            <p class="card-text">This is a wider card This is a wider caThis is a wider caThis is a wider caThis is a wider caThis is a wider card with supporting text below as a natural lead-in to additional contentrd with supporting text below as a natural lead-in to additional contentrd with supporting text below as a natural lead-in to additional contentrd with supporting text below as a natural lead-in to additional contentrd with supporting text below as a natural lead-in to additional contentwith supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
            </div>
        </div>
    </section>

    <section class="pb-5">
        <header class="  w-100 text-start py-2 ">
            <div class="container">
                <h1 class="fw-light text-white">Meet the Team</h1>
            </div>
        </header>
        <hr style="color:darkgray" />
        <div id="ourTeam" class="container w-80 h-80 p-3">



            <!-- Page Content -->
            <div class="container  ">
                <div class="row pt-5 pb-5">
                    <!-- Team Member 1 -->
                    <div class="col-xl-3 col-md-6 mb-4 card-team-container">
                        <div class="card border-0 p-3 shadow card">
                            <img src="~/images/artistsImages/atelier-unes-aYwJeBcFEQQ-unsplash.jpg" class="card-img-top " alt="...">
                            <div class="team-card-body p-3 text-center ">
                                <h6 class="card-title mb-0 ">Team Member</h6>
                                <div class="card-text text-danger text-black-50">Web Developer</div>
                            </div>
                            <div class="card-body p-4 text-center card-back  bg-white">
                                <div class="card-title-container  p-4 w-100 h-100 bg-light"
                        <h6 class="card-title mb-0">Team Member</h6>
                        <div class="card-text text-black-50">Web Developer</div>
                        <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor, tellus ac sagittis consectetur, nunc magna laoreet risus, vitae rhoncus elit elit vel elit.</p>
                        <div class="form-group sign-in-with justify-content-around">
                            <a href="#" class="btn " style="background-color:#ff0000; color:white"><i class="bi bi-google"></i></a>
                            <a href="#" class="btn" style="background-color: #3b5998; color:white"> <i class="bi bi-facebook"></i></a>
                            <a href="#" class="btn " style="background-color:#4b4b4b; color:white"><i class="bi bi-apple"></i></a>
                        </div>
                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Member 2 -->
                    <div class="col-xl-3 col-md-6 mb-4 card-team-container">
                        <div class="card border-0 p-3 shadow card">
                            <img src="~/images/artistsImages/atelier-unes-aYwJeBcFEQQ-unsplash.jpg" class="card-img-top " alt="...">
                            <div class="team-card-body p-3 text-center ">
                                <h6 class="card-title mb-0 ">Team Member</h6>
                                <div class="card-text text-danger text-black-50">Web Developer</div>
                            </div>
                            <div class="card-body p-4 text-center card-back  bg-white">
                                <div class="card-title-container  p-4 w-100 h-100 bg-light"
                        <h6 class="card-title mb-0">Team Member</h6>
                        <div class="card-text text-black-50">Web Developer</div>
                        <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor, tellus ac sagittis consectetur, nunc magna laoreet risus, vitae rhoncus elit elit vel elit.</p>
                        <div class="form-group sign-in-with justify-content-around">
                            <a href="#" class="btn " style="background-color:#ff0000; color:white"><i class="bi bi-google"></i></a>
                            <a href="#" class="btn" style="background-color: #3b5998; color:white"> <i class="bi bi-facebook"></i></a>
                            <a href="#" class="btn " style="background-color:#4b4b4b; color:white"><i class="bi bi-apple"></i></a>
                        </div>
                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Member 3 -->
                    <div class="col-xl-3 col-md-6 mb-4 card-team-container">
                        <div class="card border-0 p-3 shadow card">
                            <img src="~/images/artistsImages/atelier-unes-aYwJeBcFEQQ-unsplash.jpg" class="card-img-top " alt="...">
                            <div class="team-card-body p-3 text-center ">
                                <h6 class="card-title mb-0 ">Team Member</h6>
                                <div class="card-text text-danger text-black-50">Web Developer</div>
                            </div>
                            <div class="card-body p-4 text-center card-back  bg-white">
                                <div class="card-title-container  p-4 w-100 h-100 bg-light"
                        <h6 class="card-title mb-0">Team Member</h6>
                        <div class="card-text text-black-50">Web Developer</div>
                        <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor, tellus ac sagittis consectetur, nunc magna laoreet risus, vitae rhoncus elit elit vel elit.</p>
                        <div class="form-group sign-in-with justify-content-around">
                            <a href="#" class="btn " style="background-color:#ff0000; color:white"><i class="bi bi-google"></i></a>
                            <a href="#" class="btn" style="background-color: #3b5998; color:white"> <i class="bi bi-facebook"></i></a>
                            <a href="#" class="btn " style="background-color:#4b4b4b; color:white"><i class="bi bi-apple"></i></a>
                        </div>
                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Member 4 -->
                    <div class="col-xl-3 col-md-6 mb-4 card-team-container">
                        <div class="card border-0 p-3 shadow card">
                            <img src="~/images/artistsImages/atelier-unes-aYwJeBcFEQQ-unsplash.jpg" class="card-img-top " alt="...">
                            <div class="team-card-body p-3 text-center ">
                                <h6 class="card-title mb-0 ">Team Member</h6>
                                <div class="card-text text-danger text-black-50">Web Developer</div>
                            </div>
                            <div class="card-body p-4 text-center card-back  bg-white">
                                <div class="card-title-container  p-4 w-100 h-100 bg-light"
                        <h6 class="card-title mb-0">Team Member</h6>
                        <div class="card-text text-black-50">Web Developer</div>
                        <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor, tellus ac sagittis consectetur, nunc magna laoreet risus, vitae rhoncus elit elit vel elit.</p>
                        <div class="form-group sign-in-with justify-content-around">
                            <a href="#" class="btn " style="background-color:#ff0000; color:white"><i class="bi bi-google"></i></a>
                            <a href="#" class="btn" style="background-color: #3b5998; color:white"> <i class="bi bi-facebook"></i></a>
                            <a href="#" class="btn " style="background-color:#4b4b4b; color:white"><i class="bi bi-apple"></i></a>
                        </div>
                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 pb-5">
                    <!-- Team Member 1 -->
                    <div class="col-xl-3 col-md-6 mb-4 card-team-container">
                        <div class="card border-0 p-3 shadow card">
                            <img src="~/images/artistsImages/atelier-unes-aYwJeBcFEQQ-unsplash.jpg" class="card-img-top " alt="...">
                            <div class="team-card-body p-3 text-center ">
                                <h6 class="card-title mb-0 ">Team Member</h6>
                                <div class="card-text text-danger text-black-50">Web Developer</div>
                            </div>
                            <div class="card-body p-4 text-center card-back  bg-white">
                                <div class="card-title-container  p-4 w-100 h-100 bg-light"
                        <h6 class="card-title mb-0">Team Member</h6>
                        <div class="card-text text-black-50">Web Developer</div>
                        <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor, tellus ac sagittis consectetur, nunc magna laoreet risus, vitae rhoncus elit elit vel elit.</p>
                        <div class="form-group sign-in-with justify-content-around">
                            <a href="#" class="btn " style="background-color:#ff0000; color:white"><i class="bi bi-google"></i></a>
                            <a href="#" class="btn" style="background-color: #3b5998; color:white"> <i class="bi bi-facebook"></i></a>
                            <a href="#" class="btn " style="background-color:#4b4b4b; color:white"><i class="bi bi-apple"></i></a>
                        </div>
                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Member 2 -->
                    <div class="col-xl-3 col-md-6 mb-4 card-team-container">
                        <div class="card border-0 p-3 shadow card">
                            <img src="~/images/artistsImages/atelier-unes-aYwJeBcFEQQ-unsplash.jpg" class="card-img-top " alt="...">
                            <div class="team-card-body p-3 text-center ">
                                <h6 class="card-title mb-0 ">Team Member</h6>
                                <div class="card-text text-danger text-black-50">Web Developer</div>
                            </div>
                            <div class="card-body p-4 text-center card-back  bg-white">
                                <div class="card-title-container  p-4 w-100 h-100 bg-light"
                        <h6 class="card-title mb-0">Team Member</h6>
                        <div class="card-text text-black-50">Web Developer</div>
                        <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor, tellus ac sagittis consectetur, nunc magna laoreet risus, vitae rhoncus elit elit vel elit.</p>
                        <div class="form-group sign-in-with justify-content-around">
                            <a href="#" class="btn " style="background-color:#ff0000; color:white"><i class="bi bi-google"></i></a>
                            <a href="#" class="btn" style="background-color: #3b5998; color:white"> <i class="bi bi-facebook"></i></a>
                            <a href="#" class="btn " style="background-color:#4b4b4b; color:white"><i class="bi bi-apple"></i></a>
                        </div>
                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Member 3 -->
                    <div class="col-xl-3 col-md-6 mb-4 card-team-container">
                        <div class="card border-0 p-3 shadow card">
                            <img src="~/images/artistsImages/atelier-unes-aYwJeBcFEQQ-unsplash.jpg" class="card-img-top " alt="...">
                            <div class="team-card-body p-3 text-center ">
                                <h6 class="card-title mb-0 ">Team Member</h6>
                                <div class="card-text text-danger text-black-50">Web Developer</div>
                            </div>
                            <div class="card-body p-4 text-center card-back  bg-white">
                                <div class="card-title-container  p-4 w-100 h-100 bg-light"
                        <h6 class="card-title mb-0">Team Member</h6>
                        <div class="card-text text-black-50">Web Developer</div>
                        <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor, tellus ac sagittis consectetur, nunc magna laoreet risus, vitae rhoncus elit elit vel elit.</p>
                        <div class="form-group sign-in-with justify-content-around">
                            <a href="#" class="btn " style="background-color:#ff0000; color:white"><i class="bi bi-google"></i></a>
                            <a href="#" class="btn" style="background-color: #3b5998; color:white"> <i class="bi bi-facebook"></i></a>
                            <a href="#" class="btn " style="background-color:#4b4b4b; color:white"><i class="bi bi-apple"></i></a>
                        </div>
                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Member 4 -->
                    <div class="col-xl-3 col-md-6 mb-4 card-team-container">
                        <div class="card border-0 p-3 shadow card">
                            <img src="~/images/artistsImages/atelier-unes-aYwJeBcFEQQ-unsplash.jpg" class="card-img-top " alt="...">
                            <div class="team-card-body p-3 text-center ">
                                <h6 class="card-title mb-0 ">Team Member</h6>
                                <div class="card-text text-danger text-black-50">Web Developer</div>
                            </div>
                            <div class="card-body p-4 text-center card-back  bg-white">
                                <div class="card-title-container  p-4 w-100 h-100 bg-light"
                        <h6 class="card-title mb-0">Team Member</h6>
                        <div class="card-text text-black-50">Web Developer</div>
                        <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor, tellus ac sagittis consectetur, nunc magna laoreet risus, vitae rhoncus elit elit vel elit.</p>
                        <div class="form-group sign-in-with justify-content-around">
                            <a href="#" class="btn " style="background-color:#ff0000; color:white"><i class="bi bi-google"></i></a>
                            <a href="#" class="btn" style="background-color: #3b5998; color:white"> <i class="bi bi-facebook"></i></a>
                            <a href="#" class="btn " style="background-color:#4b4b4b; color:white"><i class="bi bi-apple"></i></a>
                        </div>
                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
        </div>

    </section>
</div>

<div class="container-fluid  bg-black recentArtWorksDiv">
    <header class="  w-100 text-start py-2 ">
        <div class="container">
            <h1 class="fw-light text-white">Recent Artworks </h1>
        </div>
    </header>
    <hr style="color:darkgray" />
    <section class="pt-5  bg-black pb-5">
        <div class="container w-80 h-80 team-header ">
            <div class="row">


                <div class="col-12 pt-5">
                    <div id="carouselExampleIndicators2" class="carousel slide d-flex flex-nowrap align-items-center">
                        <a class="btn btn-primary mb-3 mr-3 arrow-btn" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                        <div class="carousel-inner ">
                            <div class="carousel-item active">

                                <div class="row">

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">


                                        </div>
                                        <div class="card-body text-white">
                                            <h5 class="card-title">Special title treatment</h5>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">


                                        </div>
                                        <div class="card-body text-white">
                                            <h5 class="card-title">Special title treatment</h5>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">


                                        </div>
                                        <div class="card-body text-white">
                                            <h5 class="card-title">Special title treatment</h5>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">


                                        </div>
                                        <div class="card-body text-white">
                                            <h5 class="card-title">Special title treatment</h5>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">


                                        </div>
                                        <div class="card-body text-white">
                                            <h5 class="card-title">Special title treatment</h5>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">


                                        </div>
                                        <div class="card-body text-white">
                                            <h5 class="card-title">Special title treatment</h5>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">


                                        </div>
                                        <div class="card-body text-white">
                                            <h5 class="card-title">Special title treatment</h5>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">


                                        </div>
                                        <div class="card-body text-white">
                                            <h5 class="card-title">Special title treatment</h5>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">


                                        </div>
                                        <div class="card-body text-white">
                                            <h5 class="card-title">Special title treatment</h5>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                                <i class="fa fa-arrow-left"></i>
                            </a>
                            <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>

                        <a class="btn btn-primary mb-3  ml-3 arrow-btn" href="#carouselExampleIndicators2" role="button" data-slide="next">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>

                </div>

            </div>
        </div>

    </section>
</div>


@*<div id="ABOUT" class="container-fluid bg-black  ">
    <section class="pt-5">
        <h2 class="aboutTitle">About Us</h2>
        <div class="container w-80 h-100 bg-white mt-3">
            <div class="row g-0 p-2 justify-content-center">
                <div class="col-md-5 mt-5">
                        <img src="~/images/artistsImages/pexels-trinity-kubassek-445109.jpg" class="img-fluid rounded-start mt-3 mb-3" alt="...">
                    </div>
                    <div class="col-md-6">
                    <div class="card-body  ">
                            <h5 class="card-title mt-3">Card title</h5>
                             <div class="card-body  bg-black opacity-25 mt-3 mb-5">
                            <p class="card-text">This is a wider card This is a wider caThis is a wider caThis is a wider caThis is a wider caThis is a wider card with supporting text below as a natural lead-in to additional contentrd with supporting text below as a natural lead-in to additional contentrd with supporting text below as a natural lead-in to additional contentrd with supporting text below as a natural lead-in to additional contentrd with supporting text below as a natural lead-in to additional contentwith supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    </div>
                </div>
         <div class="card mb-3" style="max-width: 540px;">


            </div>
        </div>
    </section>

    <section  class="pb-5">
        <div id="ourTeam" class="container w-80 h-80 p-5" style="background-color:cadetblue ">
            <h1  style="color:white">Our Team</h1>
            <div class="container">
                <div class="row pt-3 justify-content-between">
                    <div class="col-4">
                        <div class="card p-3">
                            <img src="~/images/artistsImages/jonathan-borba-lsGZlrdvd_c-unsplash.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card p-3">
                            <img src="~/images/artistsImages/olga-guryanova-Th-i7Z1ufK8-unsplash.jpg" class="card-img-top" alt="...">
                            <div class="card-body ">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="card p-3">
                            <img src="~/images/artistsImages/jonathan-borba-lsGZlrdvd_c-unsplash.jpg" class="card-img-top" alt="...">
                            <div class="card-body bg-black">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </section>
    </div>*@






<div id="sponsers" class="container-fluid  bg-black pb-4" >
    <header class="  w-100 text-start py-2 ">
        <div class="container">
            <h1 class="fw-light text-white">About Us</h1>
        </div>
    </header>
    <hr style="color:darkgray" />
    <section class="pt-5 pb-5" style=" background-color: #42639279">
        <h1>Sponsors</h1>
    </section>
</div>



@*<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>*@






