
@{
    ViewData["Title"] = "Style";
    Layout = "_Layout";
}
@model ArtGalleryApp.Models.DataViewModel.StyleViewModel
    <div class="container  AdminBg  ">
    <div class="container  w-50 bg-white p-5 mt-5 mb-5">
            <h1 class="text-center">Art Style Collection</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="art-style-list">
                    <!-- Art styles will be added here dynamically -->
                </tbody>
            </table>
            <form asp-action="Style" method="post" asp-controller="home">
                <div class="form-group">
                    <input type="text" class="form-control" id="style-input" placeholder="Add a new art style">
                </div>
            <button type="submit" class="btn btn-primary float-end" id="add-style-btn">Add</button>
            </form>
        </div>

</div>

<script>
    const artStyleList = document.getElementById("art-style-list");
    const styleInput = document.getElementById("style-input");
    const addStyleBtn = document.getElementById("add-style-btn");

    addStyleBtn.addEventListener("click", addStyle);

    function addStyle(e) {
        e.preventDefault();
        const styleValue = styleInput.value;
        if (!styleValue) return;
        const tr = document.createElement("tr");
        tr.innerHTML = `
        <td>${styleValue}</td>
        <td>
          <button class="btn btn-danger btn-sm delete-style-btn">Delete</button>
        </td>
      `;
        artStyleList.appendChild(tr);
        styleInput.value = "";
    }

    artStyleList.addEventListener("click", deleteStyle);

    function deleteStyle(e) {
        if (!e.target.classList.contains("delete-style-btn")) return;
        e.target.closest("tr").remove();
    }

</script>

