@{
    ViewData["Title"] = "Testtt";
    Layout = "_Layout";
    }




<div class="container w-100 d-flex flex-nowrap justify-content-center pt-5 pb-5  homeSliderBg  ">
    <div class="Carouselcontainer w-75 h-75 bg-white  p-5 d-flex">
        <form class="register-form ml-4 form-check w-50">
            <h3>Register</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="Enter first name...">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Enter last name...">
                    </div>
                    <div class="form-group">
                        <label for="field">Field</label>
                        <input type="text" class="form-control" id="field" placeholder="Enter your field...">
                    </div>
                    <div class="form-group">
                        <label for="yearOfBirth">Year of Birth</label>
                        <input type="text" class="form-control" id="yearOfBirth" placeholder="Enter your year of birth...">
                    </div>
                    <div class="form-group">
                        <label for="countryOfOrigin">Country of Origin</label>
                        <input type="text" class="form-control" id="countryOfOrigin" placeholder="Enter your country of origin (optional)...">
                    </div>
                </div>
                <div class="col-md-6 position-relative">
                    <div class="form-group">
                        <label for="photo">Upload a Photo</label>
                        <input type="file" class="form-control-file" id="photo">
                    </div>
                    <img class="w-100 position-relative" src="~/images/blog/pexels-marshall-jones-3652853.jpg" />
                </div>
            </div>
            <div class="form-group">
                <label for="shortStatement">Short Statement about Yourself</label>
                <textarea class="form-control" id="shortStatement" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <form class="signup-form form-check w-30 ">
            <h3> Create Your Account</h3>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password">
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" class="form-control" id="confirm_password" placeholder="Confirm password">
            </div>
            <div class="password-strength">
                <div class="password-strength-viewport">
                    <div class="password-strength-progress">
                        <label for="password-strength">Password Strength</label>
                        <label for="password-roles">Password must be a minimum of 8 characters. lnclude one latter, and one number or symbol.</label>
                    </div>
                </div>
            </div>
            <div class="signup-bottom-container text-center">
                <button type="submit" class="btn btn-primary">Sign Up</button>
                <div class="form-group d-flex have-account">
                    <h6>already have an account?</h6>
                    <a href="#" class="sign-in-link">   Sign In</a>
                </div>
                <label for="CreatAccountWith">..............................or create an account with..............................</label>
                <div class="form-group sign-in-with">
                    <a href="#" class="btn btn-danger">Google</a>
                    <a href="#" class="btn btn-primary">Facebook</a>
                    <a href="#" class="btn btn-secondary">Apple</a>
                </div>
                <div class="form-group d-flex have-account">
                    <h6>need help?</h6>
                    <a href="Contact" class="sign-in-link">contact us</a>
                </div>
            </div>
        </form>
    </div>
</div>



<div class="container w-100 d-flex flex-nowrap justify-content-center pt-5 pb-5  homeSliderBg  ">
    <div class="Carouselcontainer w-40 h-40 bg-white  p-5 d-flex">
        <form class="register-form  form-check w-90">
            <h3>Upload your artwork</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="artwork-title">Title</label>
                        <input type="text" class="form-control" id="artwork-title" placeholder="Enter the name of your artwork...">
                    </div>
                    <div class="form-group">
                        <label for="artwork-field">Field</label>
                        <input type="text" class="form-control" id="artwork-field" placeholder="Enter your artwork field...">
                    </div>
                    <div class="form-group">
                        <label for="field">Style</label>
                        <input type="text" class="form-control" id="field" placeholder="Enter your artwork style...">
                    </div>
                    <div class="form-group">
                        <label for="technique">Technique</label>
                        <input type="text" class="form-control" id="technique" placeholder="Enter your technique">
                    </div>

                    <div class="form-group">
                        <label for="yearOfProduce">Produce Year</label>
                        <input type="text" class="form-control" id="yearOfProduce" placeholder="Produce Year...">
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" id="price" placeholder="Price...">
                    </div>

                </div>
                <div class="col-md-6 position-relative">
                    <div class="form-group">
                        <label for="photo">Upload a Photo</label>
                        <input type="file" class="form-control-file" id="photo">
                    </div>
                    <img class="w-100 position-relative" src="~/images/events/pexels-jj-jordan-4014053.jpg" />
                </div>
            </div>
            <div class="form-group">
                <label for="shortDescription">short description about Your artwork</label>
                <textarea class="form-control" id="shortDescription" rows="3" placeholder="Write a short description about Your artwork..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>



<div class="container w-100 d-flex flex-nowrap justify-content-center pt-5 pb-5  homeSliderBg  ">
    <div class="Carouselcontainer w-30 h-30 bg-white p-5">
        <form class="signin-form form-check w-80 ml-5 ">
            <h3> Create Your Account</h3>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password">
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" class="form-control" id="confirm_password" placeholder="Confirm password">
            </div>

            <div class="password-strength">
                <div class="password-strength-viewport">
                    <div class="password-strength-progress">
                        <label for="password-strength">Password Strength</label>
                        <label for="password-roles">Password must be a minimum of 8 characters. lnclude one latter, and one number or symbol.</label>
                    </div>
                </div>
            </div>
            <div class="signup-bottom-container text-center">
                <button type="submit" class="btn btn-primary">Sign Up</button>
                <div class="form-group d-flex have-account">
                    <h6>already have an account?</h6>
                    <a href="#" class="sign-in-link">   Sign In</a>
                </div>
                <label for="CreatAccountWith">..............................or create an account with..............................</label>
                <div class="form-group sign-in-with">
                    <a href="#" class="btn btn-danger">Google</a>
                    <a href="#" class="btn btn-primary">Facebook</a>
                    <a href="#" class="btn btn-secondary">Apple</a>
                </div>
                <div class="form-group d-flex have-account">
                    <h6>need help?</h6>
                    <a href="Contact" class="sign-in-link">contact us</a>
                </div>
            </div>
        </form>
    </div>
</div>
