
body {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

.admin-body {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: #272727 !important;
}

    nav a {
        color: #b1fba0ff;
    }

.ourcontact h1, .ourcontact h2, .ourcontact h3 {
    margin: 0 auto 35px auto;
    font-family: 'Patua One', cursive;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
}

.ourcontact p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.6em;
    color: black;
}

.ourcontact a {
    color: #26a5d3;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    justify-content: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}


    .ourcontact a:hover, .ourcontact a:focus {
        text-decoration: none;
        color: #26a5d3;
    }

.ourcontact #contact {
    background: #333333;
    color: #f4f4f4;
    padding-bottom: 80px;
}

.ourcontact textarea.form-control {
    height: 100px;
}

.formContainer {
    margin-left: auto;
    margin-right: auto;
}


#contact {
    padding-top: 25px;
    padding-bottom: 0px;
    /*margin-top:200px;*/
}

.form-group {
    margin-top: 10px;
}

.contactLabel {
    margin-bottom: 7px;
}

.contactBody {
    left: 0;
    background-color: dimgrey;
}

.contactFooter {
    background-color: black;
}

.submitBtn {
    background-color: white;
    margin-top: 10px;
}

.navFooter {
    /* left: 0;
    position: absolute;*/
}

.recentArtWorks {
    /*left: 0;*/
    /*position: absolute;*/
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutTitle {
    color: white;
    text-align: center;
    font-family: 'Patua One', cursive;
}






.artistsNamecontainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 10%;
    grid-row-gap: 25px;
    color: white;
    padding: 50px;
    border-radius: 50px;
}

.artistsListItem {
    background-color: black;
    padding: 10px;
    font-size: 24px;
    text-align: left;
}


.artistsTitleCard {
    color: white;
    font-weight: 200;
}

.carousel-caption {
    background-color: #7ad6e27d;
}

.recentArtWorks {
    display: flex;
    flex-wrap: nowrap;
    max-width: 500px;
}

footer a {
    color: red;
}

    footer a:hover {
        color: green;
    }

.navFooter a {
    color: red;
}

    .navFooter a:hover {
        color: green;
    }

admin-nav {
    background-color: #282828 !important;
}

admin-nav-link a {
    color: white;
    font-size: x-large;
}



@media (min-width: 1200px) {
    .container {
        max-width: 100% !important;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 100% !important;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100% !important;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 100% !important;
    }
}




/*@media (min-width: 1200px) {
    .Carouselcontainer {
        max-width: 90% !important;
        min-width: 960px;
    }
}

@media (min-width: 992px) {
    .Carouselcontainer {
        max-width: 90% !important;
        min-width: 737px;
    }
}

@media (min-width: 768px) {
    .Carouselcontainer {
        max-width: 90% !important;
        min-width: 614px;
    }
}
@media (min-width: 576px) {
    .Carouselcontainer {
        max-width: 90% !important;
        min-width: 460px;
    }
}

#price-slider {
    margin-bottom: 50px;
}

#price-range {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: #ddd;
    position: relative;
    margin-top: 5px;
}

    #price-range .range-bar {
        height: 100%;
        border-radius: 5px;
        background-color: #007bff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

        #price-range .range-bar:before,
        #price-range .range-bar:after {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            background-color: #007bff;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
        }

        #price-range .range-bar:before {
            left: 0;
        }

        #price-range .range-bar:after {
            right: 0;
        }

    #price-range .thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #fff;
        border: 2px solid #007bff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
    }

        #price-range .thumb:first-child {
            left: 0;
        }

        #price-range .thumb:last-child {
            right: 0;
        }

#min-price,
#max-price {
    width: 80px;
    display: inline-block;
    margin-left: 10px;
}

#apply-filter {
    margin-top: 20px;
}
<<<<<<< HEAD





=======
>>>>>>> f1743db60ef54c44ab059d60522a7b1951437700
.w-10 {
    width: 10% !important;
}
.w-20 {
    width:20% !important;
}
.w-30 {
    width: 30% !important;
}
.w-40 {
    width: 40% !important;
}
.h-40 {
    width: 40% !important;
}
.w-80{
    width:80% !important;
}
.w-85 {
    width: 85% !important;
}
.h-80 {
    height: 80% !important;
}

w-90 {
    width: 90% !important;
}

.h-90 {
    height: 90% !important;
}

.card-text
{
    text-decoration:none !important;
    color:white;
    font-size:14px;
}

.no-underline,.no-underline:hover {
    text-decoration: none !important;
}
.art-work-container-center {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/*.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}*/
/*@media (min-width: 1400px) .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px;
}

@media (min-width: 1200px) .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}

@media (min-width: 992px) .container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
}

@media (min-width: 768px) .container, .container-md, .container-sm {
    max-width: 720px;
}

@media (min-width: 576px) .container, .container-sm {
    max-width: 540px;
}*/
.homeSliderBg {
    background-image: url('../images/blog/pexels-ann-h-2838545.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.artistListContainer {
    padding-left: 50px;
    padding-top: 50px;
}

.artistsListContainer ul {
    justify-content: left;
    font-family: "Amatic SC";
}

.artistsListContainer li {
    list-style: none;
}

.artistsListContainer a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: "Amatic SC";
    font-weight: 400;
}

    .artistsListContainer a:hover {
        color: aqua;
    }

.text-uppercas h5 {
    color: red;
}

.footerTitleContainer {
    flex: 0 0 20% !important;
    color: #474747
}


.blogHeader {
    background-image: url(../images/blog/pexels-ann-h-2838545.jpg);
    background-repeat: no-repeat;
}

.blogTitle {
    font-family: "EB Garamond";
    color: #c9ab81;
}

.blogAuthor {
    font-family: "EB Garamond";
}


.reletedBlog {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
}

.eventHeaderDesc {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: 20%;
    border: 1px solid black;
    background-color: rgb(33, 123, 126, 0.50);
    text-align: justify;
}

    .eventHeaderDesc p {
        color: #FFE7A8;
    }

.eventHeaderTitle {
    position: absolute;
    left: 20%;
    top: 40%;
}

.eventContainers {
    border-bottom: solid black 1px;
}

.event-section1_position-relative {
    position: relative;
    z-index: 1;
    color: #272727;
}

.eventSection_1 {
    margin-right: auto;
    margin-left: auto;
    background-image: url(../images/events/pexels-annam-w-1120162.jpg);
    background-size: cover;
    position: relative;
    border-bottom: 1px solid black;
}

.eventsText {
    text-align: justify;
    font-size: 18px;
    font-family: "Amatic SC";
}

.buyTicketsBtn {
    border-radius: 5px 5px;
    font-family: "Amatic SC";
    background-color: white !important;
    background-image: unset;
    width: 300px;
    color: black;
    position: relative;
    z-index: 1;
    right: 130px;
}


.eventSection_1:before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(255,255,255,0.8);
}

.event-about-image {
    float: right;
    margin-left: 30px;
}

.eventSection1-1 {
    margin-right: auto;
    margin-left: auto;
    background-color: #abd3ce;
    border-bottom: 1px solid black;
}

.eventSection1-2 {
    margin-right: auto;
    margin-left: auto;
    background-image: url(../images/events/pexels-wendy-wei-1918160.jpg);
    background-size: cover;
    position: relative;
    border-bottom: 1px solid black;
}

.eventSection1-4 {
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid black;
}

.signup-form {
    position: relative;
    left: 15%;
}

.register-form-container h3 {
    color: #34b9b5;
}

.register-form h3 {
    color: #34b9b5;
}

.have-account {
    justify-content: flex-end;
}

.signin-form h3 {
    color: #34b9b5;
}

.admin-table-header {
    justify-content: space-between;
}

    .admin-table-header h4 {
        color: #34b9b5;
    }

.modal-title h5 {
    color: #34b9b5;
}

.AdminBg {
    background-image: url('../images/pexels-erik-mclean-6159732.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.AdminContainer {
    border: 2px solid black;
}

.BasketContainer {
    max-width: 1140px;
}


.lh-condensed {
    line-height: 1.25;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.DateAndTimeAdmin {
    color: white;
}

.list-group-item {
    position: relative;
}

.cart-icon-badge {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 50%;
}

.img-thumbnail {
    width: 200px;
}

.basket-check {
    background-color: #c2c2c27d;
}

.basket-dropdown-menu {
    width: 270px;
}

.search-btn {
    position: absolute;
}
/*#slider-div {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}*/

#slider-div > div {
    margin: 8px;
}

.slider-label {
    position: absolute;
    background-color: #eee;
    padding: 4px;
    font-size: 12px;
}


.sidebar-filter-gallery {
    background-color: #e8e8e8 !important;
}

#heart {
    color: grey;
    font-size: 20px;
}

    #heart.red {
        color: red;
    }

.col-md-4 form-group {
    width: 280px;
   
}


.team-card-body {
    position: absolute;
    background-color: #42639290;
    bottom: 30px;
    color: white;
    border: 1px solid black;
    z-index:3
}


.team-header {
    background-color: #42639279;
}
.card-img-top {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.card-img-top:hover {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(1%);
}



<<<<<<< HEAD
/* Set the perspective of the container */
.card-team-container {
    perspective: 800px;
}

/* Set the initial state of the card */
.card {
    position: relative;
    transition: 2s ease-in-out;
    transform-style: preserve-3d;

}

/* Set the back face of the card */
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  
}

/* Flip the card on hover */
.card-team-container:hover .card {
    transform: rotateY(180deg);
    background-color: #fff;
}

/* Show the back face of the card on hover */
.card-team-container:hover .card-back {
    transform: rotateY(180deg);
}

/* Style the team member card */

.team-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.card-description {
    font-size: 14px;
    line-height: 1.4;
    color: #555;
    margin-top: 10px;
    text-align: justify;
}



.w-10 {
    width: 10% !important;
}

.w-20 {
    width: 20% !important;
}

.w-30 {
    width: 30% !important;
}

.w-40 {
    width: 40% !important;
}

.h-40 {
    width: 40% !important;
}

.w-80 {
    width: 80% !important;
}

.w-85 {
    width: 85% !important;
}

.h-80 {
    height: 80% !important;
}

w-90 {
    width: 90% !important;
}

.h-90 {
    height: 90% !important;
}

.arrow-btn{
    width:40px;
    height:40px;
=======
.filter-gray {
    filter: grayscale();
    -webkit-filter: grayscale(100%);
}

.filter-gray:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}



.flip-card {
    perspective: 10px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    /*    height: 100%;
*/ text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    /*position: absolute;*/
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor: pointer;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #2980b9;
    color: black;
    transform: rotateY(180deg);
    height: 100%;
    position: absolute;
    /*    top: 0;*/
}

.flipCard {
    transform: rotateY(180deg);
>>>>>>> f1743db60ef54c44ab059d60522a7b1951437700
}